<h1>
Random Results
</h1>

<d1>
<dt> Minimum </dt>
<dd> <%= @min%> </dd>
<dt> Maximum </dt>
<dd> <%= @max %> </dd>
<dt> Maximum </dt>
<dd> <%= @random_num %> </dd>
</d1>
<p> <a href = "/random/new" >Pick another random number</a>
