<h1>
Square Root Results
</h1>

<d1>
<dt> Number </dt>
<dd> <%= @the_num %> </dd>
<dt> Square </dt>
<dd> <%= @the_result %> </dd>
</d1>
<p> <a href = "/square_root/new" >Calculate another square root</a>
