<form action= "/payment/results">
  <d1>
  <dt> <label for="APR">APR</label> 
  <input id="APR" name="APR" placeholder= "E.g. 5.42"> </dt>
  <dt> <label for="years">Number of years</label> 
  <input id="years" name="years" placeholder= "How many years to repay?"> </dt>
  <dt> <label for="principal">Principal</label>
  <input id="principal" name="principal" placeholder= "How much principal?"></dt>
  
  <dt> <button>Calculate monthly payment</button></dt>
  </d1>
</form>
