<form action= "/random/results">
  <d1>
  <dt> <label for="min">Minimum</label> 
  <input id="min" name="min" placeholder= "E.g. 1.5"> </dt>
  <dt> <label for="max">Maximum</label> 
  <input id="max" name="max" placeholder= "E.g. 4.5"> </dt>
  <dt> <button>Pick random number</button></dt>
  </d1>
</form>
