<form action= "/square/results">
  <d1>
  <dt> <label for="number_square">Enter a number</label> </dt>
  <dt> <input id="number_square" name="number" placeholder= "What number do you want to take the square of?"></dt>
  <dt> <button>Calculate square</button></dt>
  </d1>
</form>
