<form action= "/square_root/results">
  <d1>
  <dt> <label for="number_square_root">Enter a number</label>
  <input id="number_square_root" name="user_number" placeholder= "What number do you want to take the square root of?"></dt>
  <dt> <button>Calculate square root</button></dt>
  </d1>
</form>
